<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <div>
      <h1>Error. That URL already exits</h1>
        <a href="/articles">Go to articles</a>
    </div>
  </body>
</html>
